.label {
  border: 1px solid #1d2023;
  padding: 0.6rem 1rem 0.6rem 0.2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  width: 70%;
  margin: 5rem auto;
  cursor: text;
}

.input {
  border: none;
  outline: none;
  margin-left: 0.3rem;
}

.input,
.input::placeholder {
  font-size: 1.2rem;
}
