.heading-secondary {
  font-weight: 400;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.btn {
  margin-top: 1rem;
}

.wrapper {
  /* text-align: center;
   */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
}

.user-img {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
  border: 1px solid #000;
  border-radius: 50%;
}

.info-wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
}

.info-wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
  align-items: center;
  font-size: 1.2rem;
}

.info-wrapper .logout-btn {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: 1px solid #1d2023;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.info-wrapper .logout-btn:hover {
  cursor: pointer;
  background-color: #1d2023;
  color: #fff;
}

.info-wrapper > .advertisments {
}
