.container {
  position: relative;
}

.input {
  width: 5rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.suggestions {
  list-style: none;
  min-height: 2rem;
  max-height: 14rem;
  font-size: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1px;
  display: flex;
  flex-direction: column;
  background-color: #e6e4e4;
  gap: 3px;
  position: absolute;
  top: 1.6rem;
  width: 100%;
}

.container-big .input {
  width: 7rem;
}

.suggestions li {
  padding: 4px 7px;
  z-index: 10;
}

.suggestions li:hover {
  cursor: pointer;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1800px) {
  .input {
    width: 10rem;
  }

  .suggestions {
    width: 11.5rem;
  }

  .container-big .input {
    width: 10rem;
  }
}
