.container {
  display: grid;
  grid-template-columns: 4fr 11fr;
  padding: 2rem;
  gap: 2rem;
}

.left-bar {
  margin-right: 2rem;
}

.left-bar,
.right-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left-bar .location,
.category-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #000;
  border-radius: 0.8rem;
  justify-content: space-around;
  padding: 0 0 0 1rem;
  height: 4rem;
}

.left-bar .location .btn,
.category-container button {
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
}

.right-bar {
  margin-left: 2rem;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category-container button {
  justify-self: end;
  margin-right: 2rem;
}

.category-container div {
  font-size: 1.6rem;
  justify-self: end;
}
